<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat App</title>
</head>
<body>
    <h1>My Chat App</h1>
    <form action="/chat">
        <label for="">Enter your username:</label><br>
        <input type="text" name="username"><br><br>

        <label for="">Enter room id:</label><br>
        <input type="text" name="room"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>